In [1]:
import requests
import pandas as pd
from API_Key import api_key

In [2]:
pages = list(range(1,11))

popular = pd.DataFrame()

In [3]:
for page in pages:
    movieData = pd.DataFrame(requests.get(f'https://api.themoviedb.org/3/movie/popular?api_key={api_key}&language=en-US&page={page}').json()['results'])
    popular = popular.append(movieData)

popular.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/cinER0ESG0eJ49kXlExM0MEWGxW.jpg,"[28, 12, 14]",566525,en,Shang-Chi and the Legend of the Ten Rings,Shang-Chi must confront the past he thought he...,10359.702,/1BIoJGKbXjdFDAqUEiA2VHqkK1Z.jpg,2021-09-01,Shang-Chi and the Legend of the Ten Rings,False,7.9,2820
1,False,/1953j0QEbtN17WFFTnJHIm6bn6I.jpg,"[12, 28, 53]",370172,en,No Time to Die,Bond has left active service and is enjoying a...,5130.748,/iUgygt3fscRoKWCV1d0C7FbM9TP.jpg,2021-09-29,No Time to Die,False,7.6,1768
2,False,/70nxSw3mFBsGmtkvcs91PbjerwD.jpg,"[878, 28, 12]",580489,en,Venom: Let There Be Carnage,After finding a host body in investigative rep...,4144.219,/rjkmN1dniUHVYAtwuV3Tji7FsDO.jpg,2021-09-30,Venom: Let There Be Carnage,False,6.8,1923
3,False,/oE6bhqqVFyIECtBzqIuvh6JdaB5.jpg,"[878, 18, 12]",522402,en,Finch,"On a post-apocalyptic Earth, a robot, built to...",3642.038,/jKuDyqx7jrjiR9cDzB5pxzhJAdv.jpg,2021-11-04,Finch,False,8.1,895
4,False,/4gKxQIW91hOTELjY5lzjMbLoGxB.jpg,"[28, 53, 878]",763164,en,Apex,Ex-cop James Malone is serving a life sentence...,2915.735,/chTkFGToW5bsyw3hgLAe4S5Gt3.jpg,2021-11-12,Apex,False,5.8,129

In [4]:
popular = popular[popular['adult'] == False]
popular_features = popular.drop(['adult', 'backdrop_path', 'id', 'original_title', 'overview', 'poster_path', 'title','video'],1)
popular_features.head()

/var/folders/61/jyjwflp16vv8tst5lfm0g4xr0000gn/T/ipykernel_1975/2839219989.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  popular_features = popular.drop(['adult', 'backdrop_path', 'id', 'original_title', 'overview', 'poster_path', 'title','video'],1)

,genre_ids,original_language,popularity,release_date,vote_average,vote_count
0,"[28, 12, 14]",en,10359.702,2021-09-01,7.9,2820
1,"[12, 28, 53]",en,5130.748,2021-09-29,7.6,1768
2,"[878, 28, 12]",en,4144.219,2021-09-30,6.8,1923
3,"[878, 18, 12]",en,3642.038,2021-11-04,8.1,895
4,"[28, 53, 878]",en,2915.735,2021-11-12,5.8,129

In [5]:
titleNid = popular[['id','title']]
titleNid

        id                                              title
0   566525          Shang-Chi and the Legend of the Ten Rings
1   370172                                     No Time to Die
2   580489                        Venom: Let There Be Carnage
3   522402                                              Finch
4   763164                                               Apex
..     ...                                                ...
15  159211                             The Haunting of Helena
16  522241                                        The Courier
17  532067  KonoSuba: God's Blessing on this Wonderful Wor...
18  763873                                        Under Wraps
19  623135                                           Sinkhole

[200 rows x 2 columns]

In [6]:
genre = requests.get(f'https://api.themoviedb.org/3/genre/movie/list?api_key={api_key}&language=en-US').json()['genres']
genre_df = pd.DataFrame(genre)
genre_df

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [7]:
test = requests.get(f'https://api.themoviedb.org/3/movie/370172/credits?api_key={api_key}&language=en-US').json()
dftest = pd.DataFrame()
for popular in test['cast']:
    if popular["popularity"] >=25:
        dftest = dftest.append(popular,ignore_index = True)
dftest.head()

,adult,gender,id,known_for_department,name,original_name,popularity,profile_path,cast_id,character,credit_id,order
0,0.0,2.0,8784.0,Acting,Daniel Craig,Daniel Craig,36.279,/iFerDZUmC5Fu26i4qI8xnUVEHc7.jpg,0.0,James Bond,5657775bc3a3681970009dfa,0.0
1,0.0,1.0,121529.0,Acting,Léa Seydoux,Léa Seydoux,37.061,/7JAUieStGsHZAy6ed2WuFy4CJjm.jpg,28.0,Dr. Madeleine Swann,5c09b51092514147950299e0,2.0
2,0.0,1.0,224513.0,Acting,Ana de Armas,Ana de Armas,51.166,/14uxt0jH28J9zn4vNQNTae3Bmr7.jpg,49.0,Paloma,5cc1a7e2c3a368776c8d2cab,10.0

In [12]:
requests.get(f'https://api.themoviedb.org/3/movie/566525?api_key={api_key}&language=en-US').json()

{'adult': False,
 'backdrop_path': '/cinER0ESG0eJ49kXlExM0MEWGxW.jpg',
 'belongs_to_collection': None,
 'budget': 150000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 14, 'name': 'Fantasy'}],
 'homepage': 'https://www.marvel.com/movies/shang-chi-and-the-legend-of-the-ten-rings',
 'id': 566525,
 'imdb_id': 'tt9376612',
 'original_language': 'en',
 'original_title': 'Shang-Chi and the Legend of the Ten Rings',
 'overview': 'Shang-Chi must confront the past he thought he left behind when he is drawn into the web of the mysterious Ten Rings organization.',
 'popularity': 10359.702,
 'poster_path': '/1BIoJGKbXjdFDAqUEiA2VHqkK1Z.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2021-09-01',
 'revenue': 430238384,
 'runtime': 132,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Mandarin', 'iso_639_1': 'zh', 'name': '普通话'}],
 'status': 'Released',
 'tagline': "You can't outrun your destiny.",
 'title': 'Shang-Chi and the Legend of the Ten Rings',
 'video': False,
 'vote_average': 7.9,
 'vote_count': 2904}