In [1]:
import requests
import pandas as pd
from API_Key import api_key

In [2]:
pages = list(range(1,11))

popular = pd.DataFrame()

In [3]:
for page in pages:
    movieData = pd.DataFrame(requests.get(f'https://api.themoviedb.org/3/movie/popular?api_key={api_key}&language=en-US&page={page}').json()['results'])
    popular = popular.append(movieData)

popular.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/cinER0ESG0eJ49kXlExM0MEWGxW.jpg,"[28, 12, 14]",566525,en,Shang-Chi and the Legend of the Ten Rings,Shang-Chi must confront the past he thought he...,8304.971,/1BIoJGKbXjdFDAqUEiA2VHqkK1Z.jpg,2021-09-01,Shang-Chi and the Legend of the Ten Rings,False,7.9,3094
1,False,/u5Fp9GBy9W8fqkuGfLBuuoJf57Z.jpg,"[12, 28, 53]",370172,en,No Time to Die,Bond has left active service and is enjoying a...,4398.328,/iUgygt3fscRoKWCV1d0C7FbM9TP.jpg,2021-09-29,No Time to Die,False,7.6,1870
2,False,/70nxSw3mFBsGmtkvcs91PbjerwD.jpg,"[878, 28, 12]",580489,en,Venom: Let There Be Carnage,After finding a host body in investigative rep...,4128.057,/rjkmN1dniUHVYAtwuV3Tji7FsDO.jpg,2021-09-30,Venom: Let There Be Carnage,False,6.8,1987
3,False,/oE6bhqqVFyIECtBzqIuvh6JdaB5.jpg,"[878, 18, 12]",522402,en,Finch,"On a post-apocalyptic Earth, a robot, built to...",3098.869,/jKuDyqx7jrjiR9cDzB5pxzhJAdv.jpg,2021-11-04,Finch,False,8.2,986
4,False,/dK12GIdhGP6NPGFssK2Fh265jyr.jpg,"[28, 35, 80, 53]",512195,en,Red Notice,An Interpol-issued Red Notice is a global aler...,3901.386,/wdE6ewaKZHr62bLqCn7A2DiGShm.jpg,2021-11-04,Red Notice,False,6.9,960

In [4]:
popular = popular[popular['adult'] == False]
popular_features = popular[['id','title','release_date','popularity','vote_average','vote_count']]
popular_features = popular_features.rename(columns={
                                        "id":"movie_id",
                                        "popularity":"movie_popularity"
                                        })

popular_features = popular_features.reset_index(drop=True)
popular_features

,movie_id,title,release_date,movie_popularity,vote_average,vote_count
0,566525,Shang-Chi and the Legend of the Ten Rings,2021-09-01,8304.971,7.9,3094
1,370172,No Time to Die,2021-09-29,4398.328,7.6,1870
2,580489,Venom: Let There Be Carnage,2021-09-30,4128.057,6.8,1987
3,522402,Finch,2021-11-04,3098.869,8.2,986
4,512195,Red Notice,2021-11-04,3901.386,6.9,960
...,...,...,...,...,...,...
195,324786,Hacksaw Ridge,2016-10-07,197.352,8.2,10180
196,410113,The Loud House Movie,2021-08-20,173.402,8.4,86
197,623135,Sinkhole,2021-08-11,176.414,7.2,23
198,874209,Spider-Man: Responsibility,2016-09-23,190.281,4.9,4
199,741074,Once Upon a Snowman,2020-10-23,189.283,6.9,390

In [5]:
titleNid = popular[['id','title']]

In [6]:
titleNid = titleNid.reset_index(drop = True)

In [7]:
df1 = titleNid[titleNid['title'].str.contains("Avatar")]
df1

       id   title
82  19995  Avatar

In [8]:
titleNid.to_csv('titleNid.csv',index = False)

In [9]:
genre = requests.get(f'https://api.themoviedb.org/3/genre/movie/list?api_key={api_key}&language=en-US').json()['genres']
genre_df = pd.DataFrame(genre)
genre_df

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [10]:
titleNid['id'][0]

566525

In [11]:
requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={api_key}&language=en-US').json()['crew']

NameError: name 'movie_id' is not defined

In [ ]:
revenue_df = pd.read_csv('Revenue_Data.csv')

revenue_df.head()

In [ ]:

Movie_Data = popular_features.merge(revenue_df, on='movie_id', how='inner')
Movie_Data.head()

In [ ]:
Movie_Data.to_csv('Movie_Data.csv', index=False)
#Add file