In [1]:
import pandas as pd
import requests

In [2]:
table = pd.read_csv('Tables/Movie_Data.csv')
table

,movie_id,title,release_date,movie_popularity,vote_average,vote_count,budget,revenue
0,566525,Shang-Chi and the Legend of the Ten Rings,2021-09-01,8304.971,7.9,3094,150000000,430238384
1,370172,No Time to Die,2021-09-29,4398.328,7.6,1870,242000000,708000000
2,580489,Venom: Let There Be Carnage,2021-09-30,4128.057,6.8,1987,110000000,442000000
3,522402,Finch,2021-11-04,3098.869,8.2,986,0,0
4,512195,Red Notice,2021-11-04,3901.386,6.9,960,200000000,0
...,...,...,...,...,...,...,...,...
195,324786,Hacksaw Ridge,2016-10-07,197.352,8.2,10180,40000000,175302354
196,410113,The Loud House Movie,2021-08-20,173.402,8.4,86,0,0
197,623135,Sinkhole,2021-08-11,176.414,7.2,23,0,0
198,874209,Spider-Man: Responsibility,2016-09-23,190.281,4.9,4,0,0
199,741074,Once Upon a Snowman,2020-10-23,189.283,6.9,390,0,0

In [12]:
filter_table = table[table['budget']!= 0]
filter_table = filter_table[table['revenue'] != 0]
filter_table.count()

/var/folders/61/jyjwflp16vv8tst5lfm0g4xr0000gn/T/ipykernel_14008/3641037775.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_table = filter_table[table['revenue'] != 0]

movie_id            79
title               79
release_date        79
movie_popularity    79
vote_average        79
vote_count          79
budget              79
revenue             79
dtype: int64

In [15]:
filter_table

,movie_id,title,release_date,movie_popularity,vote_average,vote_count,budget,revenue
0,566525,Shang-Chi and the Legend of the Ten Rings,2021-09-01,8304.971,7.9,3094,150000000,430238384
1,370172,No Time to Die,2021-09-29,4398.328,7.6,1870,242000000,708000000
2,580489,Venom: Let There Be Carnage,2021-09-30,4128.057,6.8,1987,110000000,442000000
8,524434,Eternals,2021-11-03,1740.914,7.1,1042,200000000,300000000
9,744275,After We Fell,2021-09-01,1879.619,7.3,872,14000000,19000000
...,...,...,...,...,...,...,...,...
178,24021,The Twilight Saga: Eclipse,2010-06-23,176.123,6.2,7170,68000000,698491347
188,615457,Nobody,2021-03-18,186.354,8.3,3668,17000000,61779301
189,558,Spider-Man 2,2004-06-25,196.260,7.1,11579,200000000,783766341
193,337401,Mulan,2020-09-04,171.678,7.0,5259,200000000,66800000
195,324786,Hacksaw Ridge,2016-10-07,197.352,8.2,10180,40000000,175302354

In [16]:
titleNid = filter_table[['movie_id','title']]

titleNid = titleNid.reset_index(drop = True)

titleNid.to_csv('Tables/titleNid.csv',index = False)